@charset "UTF-8";

/* 헤더 - 메뉴 마우스오버 효과 시작 */
:is(.login, .home):hover {
    cursor: url(../img/cursor.cur), auto;
}

header ul li:hover::after {
    width: 100%;
}

.login:hover {
    background-color: #ff9900;
    color: #000;
}
/* 헤더 - 메뉴 마우스오버 효과 끝 */

/* 헤더, 풋터 - 마우스 오버 시 포인트로 변환 */
:is(header ul li, .mobile, #foottop li, #footerlogo, .footerinfo ol li, .iconbox img):hover {
    cursor: pointer;
}

/* 바디 - 기본 설정 */
#wrap {
    width: 100%;
    height: auto;
    background-color: #000;
}

/* 헤더 - 기본 설정 */
header {
    width: 100%;
    height: 80px;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

/* 헤더 - 로고 기본 설정  */
#logo {
    max-width: 70px;
    max-height: 50px;
    margin: 0.5%;
}

/* 헤더 - 로고 이미지 기본 설정 */
#logo img {
    width: 100%;
    height: auto;
}

/* 헤더 - 내비게이션 기본 설정 */
header ul {
    width: 100%;
    height: auto;
    background-color: #000;
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    max-width: 150px;
}

/* 헤더 - 내비게이션 메뉴 기본 설정 */
header ul li {
    color: #fff;
    font-size: 0.8em;
    line-height: 40px;
    text-align: center;
}

.loginbox {
    display: none;
}

/* 헤더 - 메뉴 마우스오버 효과 기본 설정 */
header ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff9900;
}

/* 데스크탑 제외)헤더 제목 기본 설정 */
.headertitle {
    display: block;
}

.headertitle h3 {
    font-size: 0.9em;
}

/* 데스크탑 제외)햄버거 메뉴 기본 설정 */
.mobile {
    width: 100%;
    height: auto;
    max-width: 48px;
    min-height: 48px;
    margin: 2%;
}

.mobile img {
    width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------------- */

/* 풋터 - 기본 설정 시작 */
footer {
    width: 100%;
    height: auto;
    font-size: 0.9em;
}

footer .footerbox {
    width: 100%;
    height: auto;
    min-height: 690px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.footerbox #foottop {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15%;
    font-size: 1.1rem;
}

/* 풋터 - 로고 기본 설정*/
.footerbox #footerlogo {
    width: 100%;
    height: auto;
    max-width: 80px;
    margin-bottom: 20%;
}

/* 풋터 - 기업정보 & SNS 아이콘 기본 설정 */
.footerbox .footerinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    min-height: 310px;
    margin-bottom: 10%;
}

/* 풋터 - 기업정보 기본 설정 */
.footerinfo ol {
    width: 100%;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 1.05rem;
}

/* 풋터 - SNS 아이콘 기본 설정 */
.footerinfo .iconbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15%;
}

.footerinfo .iconbox img {
    width: 100%;
    height: auto;
    max-width: 24px;
    max-height: 24px;
}

.footerbox #companyinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.05em;
    margin-bottom: 5%;
    text-align: center;
}

/* 반응형 - 모바일 가로 풋터 SNS 아이콘 */
.footerbox #companyinfo .infobox {
    width: 28%;
}

/* 풋터 - 산하 스튜디오 기본 설정 */
#companyinfo #affiliate {
    width: 100%;
    height: auto;
    max-width: 25%;
    display: flex;
    flex-flow: column nowrap;
    line-height: 40px;
}
/* 풋터 - 기본 설정 끝 */

/* 반응형 - 데스크탑 시작 */
@media all and (min-width:1024px) and (max-width:1920px) {
    /* 반응형 - 데스크탑 헤더 내비게이션 */
    header ul {
        max-width: 50%;
        max-height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        position: static;
    }

    /* 반응형 - 데스크탑 헤더 내비게이션 메뉴 */
    header ul li {
        line-height: 20px;
    }

    /* 반응형 - 데스크탑 헤더 로그인/회원가입 플렉스박스 */
    .loginbox {
        width: 100%;
        height: auto;
        max-width: 20%;
        max-height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /* 반응형 - 데스크탑 헤더 로그인/회원가입 */
    .login {
        padding: 4% 10%;
        color: #fff;
        font-size: 0.8em;
    }

    /* 반응형 - 데스크탑 헤더 회원가입 */
    .signup {
        padding: 4% 12%;
    }

    .headertitle {
        display: none;
    }

    .mobile {
        display: none;
    }

    /* ---------------------------------------------------------------------- */

    /* 반응형 - 데스크탑 풋터 시작 */
    footer {
        max-width: 100%;
        min-height: 450px;
    }

    footer .footerbox {
        max-width: 80%;
        min-height: 450px;
        margin: 0 auto;
        justify-content: center;
        align-content: flex-start;
    }

    .footerbox #foottop {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 0 50px;
        max-height: 40px;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 로고 */
    .footerbox #footerlogo {
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 기업정보 & SNS 아이콘 */
    .footerbox .footerinfo {
        flex-flow: row nowrap;
        max-width: 100%;
        min-height: 50px;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 기업정보 */
    .footerinfo ol {
        max-width: 50%;
        min-height: 50px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.95em;
    }

    /* 반응형 - 데스크탑 풋터 SNS 아이콘 */
    .footerinfo .iconbox {
        max-width: 50%;
        max-height: 50px;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 0;
    }

    .footerbox #companyinfo {
        max-width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 0.8em;
    }

    /* 반응형 - 데스크탑 풋터 산하 스튜디오 */
    #companyinfo #affiliate {
        max-width: 60%;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
