@charset "UTF-8";

/* 메인 - 마우스오버 효과 기본 설정 */
:is(article, section a, main img, #snsbox img, #image3dbones div img):hover {
    cursor: pointer;
}

/* 메인 - 비디오 슬라이드 기본 설정*/
#slider video {
    width: 100%;
    height: auto;
}

/* 메인 - 뉴스 와이드 기본 설정 */
section {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-bottom: 15%;
}

/* 메인 - 뉴스 와이드 아티클 기본 설정 */
article {
    width: 100%;
    height: auto;
    max-width: 80%;
    margin: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

article:hover {
    transform: scale(1.0);
}

/* 메인 - 뉴스 와이드 아티클 배경 이미지 */
article:nth-of-type(1) {
    background-image: url("../img/newsimg4.jpg");
}

article:nth-of-type(2) {
    background-image: url("../img/newsimg1.jpg");
}

article:nth-of-type(3) {
    background-image: url("../img/newsimg3.jpg");
}

/* 메인 - 뉴스 와이드 텍스트 기본 설정 */
article h4,
article p,
article time {
    font-size: 1.1em;
    text-align: center;
    line-height: 40px;
}

article time {
    display: block;
    color: #bcbcbc;
    margin-top: 100%;
}

article p {
    line-height: normal;
}

/* 메인 - 뉴스 와이드 텍스트 오른쪽 밑 모두 보기 기본 설정 */
section a {
    width: 100%;
    height: auto;
    max-width: 90px;
    max-height: 24px;
    position: absolute;
}

section a span {
    font-size: 1.05em;
}

/* 메인 - 모두 보기 화살표 기본 설정 */
section a img {
    width: 100%;
    height: auto;
    max-width: 14px;
    min-height: 14px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 5px;
    right: 0;
}

section a:hover .more_news {
    right: -10px;
}

/* 메인 - 메인 이미지 기본 설정 */
main {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 90%;
    margin: 10% 5%;
}

main img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

main img:hover {
    transform: scale(1.0);
}

/* 메인 - SNS 메뉴바 기본 설정 */
.social {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10%;
}

/* 메인 - SNS 메뉴바 속 내용 기본 설정 */
.social #snsbox {
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: 90px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    clip-path: polygon(0 0, 98% 0, 100% 40%, 100% 100%, 0 100%, 0% 50%);
}

#snsbox h2 {
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}

#snsbox img {
    width: 100%;
    height: auto;
    max-width: 40px;
    min-height: 40px;
    margin: 0 2%;
}

/* 메인 - 게임소개 컨텐츠 기본 설정 */
aside {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10%;
}

/* 메인 - 게임소개 컨텐츠 타이틀 기본 설정 */
aside .asidetitle {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.3rem;
}

/* 메인 - 게임소개 컨텐츠 가운데 기본 설정 */
aside #imagebox {
    width: 100%;
    height: auto;
    text-align: center;
}

aside #imagebox img {
    width: 100%;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
}

/* 메인 - 게임 제목 및 설명 기본 설정 */
aside #imagebox span {
    width: 100%;
    height: auto;
}

aside #imagebox #asidebold {
    font-weight: bold;
    line-height: 50px;
    font-size: 1.15em;
}

aside #imagebox #asidetext {
    max-width: 90%;
    min-height: 75px;
    line-height: 25px;
    margin: 0 auto;
    font-size: 1.05em;
}

/* 메인 - 게임소개 컨텐츠 오른쪽 기본 설정 */
aside #image3d {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    margin: 10% 0;
}

aside #image3dbones {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

aside #image3dbones div {
    width: 100%;
    height: auto;
}

aside #image3dbones div img {
    width: 100%;
    height: auto;
}
/* 메인 - 기본 설정 끝 */

/* 반응형 - 모바일 시작 */
@media all and (max-width:380px) {
    /* 반응형 - 모바일 뉴스 와이드 모두 보기 */
    section a {
        bottom: -2%;
        left: 40%;
    }

    /* 반응형 - 모바일 메인 이미지 밑 게임소개 컨텐츠 시작 */
    aside {
        margin-bottom: 25%;
    }
}

/* 반응형 - 모바일 가로 시작*/
@media all and (min-width:381px) and (max-width:767px) {
    /* 반응형 - 모바일 가로 뉴스 와이드 모두 보기 */
    section a {
        bottom: -1%;
        left: 44%;
    }
}

/* 반응형 - 태블릿 시작 */
@media all and (min-width:768px) and (max-width:1023px) {
    /* 반응형 - 태블릿 뉴스 와이드 모두 보기 */
    section a {
        bottom: -1%;
        left: 45%;
    }
}

/* 반응형 - 데스크탑 시작 */
@media all and (min-width:1024px) and (max-width:1920px) {
    /* 반응형 - 데스크탑 비디오 슬라이드 밑 뉴스 와이드 */
    section {
        max-width: 100%;
        min-height: 250px;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 10% 0;
    }

    /* 반응형 - 데스크탑 뉴스 와이드 아티클 */
    article {
        max-width: 20%;
        margin: 0;
    }

    /* 반응형 - 데스크탑 뉴스 와이드 텍스트 */
    article h4,
    article p,
    article time {
        font-size: 0.85em;
    }

    /* 반응형 - 데스크탑 뉴스 와이드 텍스트 오른쪽 밑 모두 보기 */
    section a {
        left: auto;
        right: 7%;
        bottom: -20%;
    }

    /* 반응형 - 데스크탑 메인 이미지 밑 SNS 메뉴바 시작 */
    .social {
        max-width: 90%;
        min-height: 250px;
        margin: 0 auto;
        align-items: center;
    }

    .social #snsbox {
        max-width: 1420px;
        min-height: 50px;
    }

    #snsbox h2 {
        display: inline-block;
        color: #000;
        line-height: 50px;
        width: auto;
    }

    #snsbox h2::after {
        content: "ㅣ";
        margin: 0 20px;
    }

    #snsbox img {
        max-width: 44px;
        min-height: 44px;
        margin: 0.4%;
    }
    /* 반응형 - 데스크탑 메인 이미지 밑 SNS 메뉴바 끝 */

    /* 반응형 - 데스크탑 SNS 메뉴바 밑 게임소개 컨텐츠 */
    aside {
        max-width: 100%;
        max-height: 500px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 왼쪽에서 첫번째 */
    aside .asidetitle {
        max-width: 200px;
        max-height: 70px;
        font-size: 2.0em;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 가운데 시작 */
    aside #imagebox {
        max-width: 500px;
        min-height: 400px;
    }

    aside #imagebox img {
        min-height: 300px;
    }

    aside #imagebox #asidebold {
        padding: 10px;
        font-size: 1.3em;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 오른쪽 시작 */
    aside #image3d {
        max-width: 200px;
        max-height: 500px;
        margin: 0;
    }

    aside #image3dbones {
        max-width: 200px;
        max-height: 700px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        gap: 20px 0;
    }

    aside #image3dbones div {
        max-width: 150px;
    }
    /* 반응형 - 데스크탑 게임소개 컨텐츠 끝 */
}
