@charset "UTF-8";

/* 서브 - 마우스오버 효과 기본 설정 */
button {
    cursor: pointer;
}

.mainimage button:hover {
    color: #000;
    background: linear-gradient(90deg, rgba(166,141,101,1) 0%, rgba(151,125,82,1) 47%, rgba(225,213,173,1) 100%);
    border: 2px solid #9f8354;
}

/* 서브 - 메인 이미지 기본 설정 */
.mainimage {
    width: 100%;
    height: auto;
    max-width: 90%;
    min-height: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.mainimage img {
    width: 100%;
    height: auto;
    max-width: 50%;
}

/* 서브 - 메인 이미지 구매하기 버튼 */
.mainimage button {
    width: 100%;
    height: auto;
    max-width: 40%;
    min-height: 100px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2.0em;
    transition: all 0.3s ease;
    background: #000;
}

/* 서브 - 게임소개 페이지 */
.introduction {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    /* background-color: purple; */
}

/* 서브 - 유튜브 영상 & 텍스트 박스 */
.introduction .twinbox {
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-flow: column-reverse nowrap;
    /* background-color: aqua; */
}

/* 서브 - 게임소개 페이지 : 유튜브 영상 */
.introduction iframe {
    width: 100%;
    height: 100%;
    /* min-width: 327px;
    min-height: 184px;
    max-height: 450px; */
    max-width: 90%;
    min-height: 450px;
    margin: 0 auto;
}

/* 서브 - 게임소개 페이지 : 텍스트 박스 */
.introduction aside {
    width: 100%;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    /* background-color: orange; */
}

.introduction h1 {
    font-size: 2.2em;
    line-height: 80px;
}

.introduction p {
    font-size: 1.15em;
    line-height: 30px;
}

.introduction ul {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    font-size: 1.5em;
    /* background-color: red; */
}

.introduction ul li {
    flex-basis: 35%;
    line-height: 45px;
    list-style-image: url("../img/list_gunimg.jpg");
    color: #d89100;
    /* background-color: blue; */
}

.introduction span {
    width: 100%;
    height: auto;
    text-align: center;
}

.introduction span h1 {
    line-height: 120px;
}

.introduction span p {
    font-size: 1.2em;
    line-height: 50px;
}

.introduction hr {
    width: 100%;
    height: 1px;
    display: none;
}

.introduction .updateNews {
    text-align: center;
}

.updateNews p {
    margin-bottom: 3%;
}

.updateNews button {
    width: 100%;
    height: auto;
    max-width: 35%;
    margin-bottom: 10%;
    padding: 2% 0;
    border-radius: 20px;
    font-size: 1.5em;
    background-color: #ffab00;
    color: #000;
    opacity: 0.85;
    transition: opacity 0.5s ease-out;
}

.updateNews button:hover {
    opacity: 1.0;
}

@media all and (min-width:320px) and (max-width:767px) {}

@media all and (min-width:768px) and (max-width:1023px) {}

@media all and (min-width:1024px) and (max-width:1920px) {
    .introduction {
        max-width: 80%;
        margin: 0 auto;
    }

    .introduction .twinbox {
        flex-flow: row nowrap;
        align-items: center;
    }

    .introduction iframe {
        max-width: 800px;
        min-height: 450px;
    }

    .introduction aside {
        max-width: 38%;
        padding: 0 5%;
    }

    .introduction aside p {
        text-align: left;
    }

    .introduction ul li {
        line-height: normal;
    }

    .introduction hr {
        display: block;
        margin: 7% 0;
    }

    .updateNews button {
        max-width: 35%;
        margin-bottom: 3%;
        padding: 2% 0;
        border-radius: 20px;
        font-size: 1.5em;
    }
}
